@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

@font-face {
  font-family: BG-Regular;
  src: url("../fonts/Brandon_Grotesque_regular.otf") format("opentype");
  font-weight: 390;
}
@font-face {
  font-family: BG-Medium;
  src: url("../fonts/Brandon_Grotesque_medium.otf") format("opentype");
  font-weight: 420;
}
@font-face {
  font-family: BG-Bold;
  src: url("../fonts/Brandon_Grotesque_bold.otf") format("opentype");
  font-weight: 450;
}
@font-face {
  font-family: CG-Regular;
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: CG-SemiBold;
  src: url("../fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  } /* Adjust the number of images */
}
body {
  background-image: url(../img/bg_noise.png);
  background-color: #e7e6e0;
  background-repeat: repeat;
}

.wrapper {
  width: 1920px;
  margin-bottom: 56px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionSeparator {
  width: 100%;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 104px;
}

.sectionSeparator2 {
  width: 100%;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 40px;
}

.sectionSeparator3 {
  align-self: flex-start;
  width: 90%;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 104px;
}

.navBar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 52px;
}
.navBar .navBar_list {
  display: flex;
  margin: 0;
  justify-items: center;
  align-items: top;
  gap: 60px;
}
.navBar .navBar_list .link {
  text-decoration: none;
  color: #4c4a4d;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  font-weight: 300;
  margin: 0;
  padding-top: 12px;
  transition: 0.3s;
}
.navBar .navBar_list .link:hover {
  font-style: normal;
  font-weight: 450;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.navBar .navBar_list #logo {
  fill: #0e1822;
  margin: 0 60px 0 60px;
}

.circle1 {
  position: absolute;
  top: 305px;
  left: 920px;
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgb(207, 218, 227);
  opacity: 0.5;
  filter: blur(30px);
  z-index: -1;
}

.ellipse1 {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 830px;
  height: 830px;
  z-index: 1;
}

.grid1 {
  display: grid;
  width: 1346px;
  margin: 108px auto 195px auto;
  grid-template-columns: 322px 254px 340px 480px;
  grid-template-rows: 160px;
  align-items: center;
  text-wrap: nowrap;
  display: relative;
}
.grid1 .grid1_text1 {
  grid-column: 1/3;
  font-size: 180px;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  text-align: start;
  line-height: 180px;
}
.grid1 .grid1_text2 {
  grid-column: 3/4;
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
}
.grid1 .grid1_text3 {
  grid-column: 4/5;
  width: 100%;
  height: 218px;
  display: flex;
  align-items: center;
}
.grid1 .grid1_text3 .grid1_line {
  width: 100%;
  height: 1px;
  border-top: 1px solid #4c4a4d;
}
.grid1 .grid1_text4 {
  grid-column: 1/2;
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
}
.grid1 .grid1_text5 {
  grid-column: 2/5;
  font-size: 180px;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  line-height: 160px;
}
.grid1 .grid1_text6 {
  grid-column: 1/5;
  font-size: 180px;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  line-height: 160px;
}

.work {
  width: 1600px;
  position: relative;
}
.work .title {
  font-size: 16px;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 40px;
  line-height: 1.5;
  margin-left: 40px;
}
.work .work_line2 {
  position: absolute;
  top: -158px;
  right: 50%;
  width: 1px;
  height: 222px;
  background-color: #4c4a4d;
}
.work .work_line3 {
  position: absolute;
  top: -104px;
  width: 1px;
  height: 222px;
  background-color: #4c4a4d;
}
.work .work_circle {
  position: absolute;
  top: -31px;
  left: -31px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #b6c5d3;
  opacity: 0.75;
  z-index: -1;
}
.work .clientsBlock_wrapper {
  margin: 40px auto 0 auto;
  display: flex;
  width: 1342px;
  height: 504px;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: rgba(76, 74, 77, 0.05);
}
.work .clientsBlock_wrapper .clientsBlock {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame {
  height: 52px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .items_wrap {
  animation: scroll 50s linear infinite;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .items_wrap img.logoImg {
  flex-shrink: 0;
  height: 52px;
  margin-right: 60px;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .reverse {
  animation-direction: reverse;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame:hover .items_wrap {
  animation-play-state: paused;
}

.services {
  width: 1600px;
  position: relative;
}
.services .services_line2 {
  position: absolute;
  top: -204px;
  right: 0px;
  width: 1px;
  height: 1300px;
  background-color: #4c4a4d;
}
.services .title {
  font-size: 16px;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 40px;
  line-height: 1.5;
  margin-left: 40px;
}

.services_line1 {
  margin-top: 40px;
  width: 100vw;
  height: 1px;
  background-color: #4c4a4d;
}

.services_circle {
  position: absolute;
  top: -20px;
  right: -19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4c4a4d;
  opacity: 0.3;
  z-index: 0;
}

.services_circle2 {
  position: absolute;
  top: 284px;
  left: 0px;
  width: 720px;
  height: 720px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  filter: blur(20px);
  z-index: -1;
}

.service_content_wraper {
  display: flex;
  justify-content: center;
  margin-top: 104px;
}
.service_content_wraper .services_content_grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 60px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.service_content_wraper .services_content_grid .numberImg-wrapper {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 140px;
  height: 140px;
  border: 1px solid #4c4a4d;
  border-radius: 50%;
}
.service_content_wraper .services_content_grid .textWraper {
  grid-column: 2/3;
  height: 82%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.service_content_wraper .services_content_grid .textWraper h3.services_text1 {
  font-size: 64px;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
}
.service_content_wraper .services_content_grid .textWraper .services_text2 {
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  padding-left: 6px;
  opacity: 0.5;
}

.about {
  width: 1600px;
  position: relative;
}
.about .about_line2 {
  position: absolute;
  top: -500px;
  left: 0;
  content: "";
  width: 1px;
  height: 924px;
  background-color: #4c4a4d;
}
.about .about_background {
  position: absolute;
  top: 104px;
  left: 40px;
  width: 1560px;
  height: 780px;
  background-color: #4c4a4d;
  opacity: 0.05;
  border-radius: 0 0 780px 780px;
  z-index: -1;
}
.about .about_title {
  font-size: 16px;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 40px;
  line-height: 1.5;
  margin-left: 40px;
}

.about_container_grid {
  display: grid;
  width: 1360px;
  margin: 100px 0 0 0;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  align-items: top;
}
.about_container_grid .about_circle {
  grid-column: 1/2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4c4a4d;
  opacity: 0.1;
  justify-self: flex-end;
  align-self: center;
}
.about_container_grid .about_circle2 {
  position: absolute;
  top: 1605px;
  right: 0px;
  width: 800px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgb(207, 218, 227);
  opacity: 0.6;
  filter: blur(40px);
  z-index: -1;
}
.about_container_grid .about_image {
  grid-column: 1/2;
  width: 320px;
  overflow: hidden;
}
.about_container_grid .about_text {
  width: 960px;
  grid-column: 2/3;
  font-size: 28px;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
  line-height: 40px;
  color: #0e1822;
  margin-bottom: 120px;
}

.text_wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.text_wrapper .text7 {
  font-size: 64px;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
  color: #0e1822;
}
.text_wrapper .text8 {
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
  margin-top: 12px;
}
.text_wrapper .text_main {
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 40px;
}
.text_wrapper .text9 {
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 20px;
}
.text_wrapper .about_dottedLine {
  grid-column: 2/3;
  width: 100%;
  margin: 100px 0 100px 0;
}

.testimonials {
  width: 1600px;
  position: relative;
}

.testimonials_line2 {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  width: 1px;
  height: 528px;
  background-color: #4c4a4d;
}

.testimonials_line3 {
  position: absolute;
  right: 0;
  top: -1700px;
  width: 1px;
  height: 1814px;
  background-color: #4c4a4d;
}

.testimonials_circle {
  position: absolute;
  top: -20px;
  right: -19px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgb(182, 197, 211);
  opacity: 0.3;
  z-index: 0;
}

.testimonials_title {
  font-size: 16px;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 40px;
  line-height: 1.5;
  margin-left: 40px;
}

.testimonials_mainBlock {
  width: 1342px;
  height: 564px;
  margin: 40px auto 0 auto;
  padding: 100px;
  background-color: rgba(76, 74, 77, 0.05);
  position: relative;
}
.testimonials_mainBlock .imgQoute_left {
  position: absolute;
  top: 40px;
  left: -20px;
  width: 60px;
}
.testimonials_mainBlock .imgQoute_right {
  position: absolute;
  bottom: 40px;
  right: -20px;
  width: 60px;
  transform: scaleX(-1) scaleY(-1);
}
.testimonials_mainBlock .arrows_wrapper {
  position: absolute;
  right: 100px;
  display: flex;
  gap: 40px;
}
.testimonials_mainBlock .arrows_wrapper .arrow_right {
  width: 80px;
  height: 60px;
  transform: scaleX(-1);
}
.testimonials_mainBlock .arrows_wrapper .arrow_left {
  width: 80px;
  height: 60px;
}
.testimonials_mainBlock .testimonials_content_grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 40px;
  align-items: top;
}
.testimonials_mainBlock .testimonials_content_grid .contentImg_1 {
  grid-column: 1/2;
  width: 84px;
  height: 84px;
  overflow: hidden;
}
.testimonials_mainBlock .testimonials_content_grid .text_wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.testimonials_mainBlock .testimonials_content_grid .text_wrapper .text10 {
  font-size: 40px;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
  line-height: 48px;
}
.testimonials_mainBlock .testimonials_content_grid .text_wrapper .text11 {
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 8px;
  line-height: 30px;
  opacity: 0.5;
}
.testimonials_mainBlock .testimonials_content_grid .testimonials_textMain {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  line-height: 1.4;
}

.contact {
  position: relative;
  width: 1600px;
}
.contact .line2 {
  position: absolute;
  top: -50px;
  right: 0px;
  content: "";
  width: 1px;
  height: 342px;
  background-color: #4c4a4d;
}
.contact .circle {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  border: 1px solid #4c4a4d;
}
.contact .textBlock {
  display: flex;
  width: 951px;
  height: 294px;
  margin: 104px 229px 0 auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 60 px;
}
.contact .textBlock .textBlock1 {
  display: flex;
  gap: 20px;
  width: 840px;
  flex-direction: column;
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
}
.contact .textBlock .textBlock2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}
.contact .textBlock .textBlock2 .textBlock2_1 {
  font-size: 64px;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
}
.contact .textBlock .textBlock2 .textBlock2_2 {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact .textBlock .textBlock2 .textBlock2_2 .email {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c4a4d;
  height: 60px;
  width: 347px;
  margin: auto;
  font-size: 24px;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
}
.contact .textBlock .textBlock2 .textBlock2_2 .arrow {
  width: 120px;
  height: 60px;
}

.line3 {
  width: 100%;
  height: 1px;
  margin-top: 104px;
  content: "";
  background-color: #4c4a4d;
}

.footer {
  width: 1600px;
  height: 32px;
  margin: 52px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer_text {
  display: flex;
  gap: 60px;
}
.footer .footer_text .footer_text1 {
  font-size: 16px;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_text .footer_text2 {
  font-size: 16px;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_text .footer_text3 {
  font-size: 16px;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_icons {
  display: flex;
  justify-content: space-between;
  width: 124px;
  height: 32px;
}