.wrapper {
  margin: 1.25rem;
}

.navBar {
  display: flex;
  justify-content: center;
}
.navBar .navBar_list {
  display: flex;
  margin: 0;
  justify-items: center;
  align-items: top;
  gap: 60px;
}
.navBar .navBar_list .link {
  text-decoration: none;
  color: #4c4a4d;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  font-weight: 300;
  margin: 0;
  padding-top: 12px;
  transition: 0.3s;
}
.navBar .navBar_list .link:hover {
  font-style: normal;
  font-weight: 450;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.navBar .navBar_list #logo {
  fill: #0e1822;
  margin: 0 60px 0 60px;
}