@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: #e7e6e0;
  background-image: url("../img/bg_noise.png");
  background-repeat: repeat;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a blue color as a generic focus style */
@font-face {
  font-family: BG-Regular;
  src: url("../fonts/Brandon_Grotesque_regular.otf") format("opentype");
  font-weight: 390;
}
@font-face {
  font-family: BG-Medium;
  src: url("../fonts/Brandon_Grotesque_medium.otf") format("opentype");
  font-weight: 420;
}
@font-face {
  font-family: BG-Bold;
  src: url("../fonts/Brandon_Grotesque_bold.otf") format("opentype");
  font-weight: 450;
}
@font-face {
  font-family: CG-Regular;
  src: url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: CG-SemiBold;
  src: url("../fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  } /* Adjust the number of images */
}
body {
  width: 100vw;
  background-image: url(../img/bg_noise.png);
  background-color: #e7e6e0;
  background-repeat: repeat;
  margin-inline: auto;
}

.wrapper {
  width: 83.3333333333vw;
  margin-bottom: 2.9166666667vw;
  margin-inline: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionSeparator {
  width: 100vw;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 5.4166666667vw;
}

.sectionSeparator2 {
  width: 100vw;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 2.0833333333vw;
}

.sectionSeparator3 {
  width: 100vw;
  margin-right: 10vw;
  height: 1px;
  background-color: #4c4a4d;
  margin-top: 5.4166666667vw;
}

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  width: 100vw;
  height: 9.375vw;
  padding-top: 2.7083333333vw;
  background-image: linear-gradient(
    180deg,
    #e7e6e0 0%,
    rgba(231, 230, 224, 0.7) 53.63%,
    rgba(231, 230, 224, 0) 100%
  );
  z-index: 10;
}
.navBar .navBar_list {
  display: flex;
  margin: 0;
  justify-items: center;
  align-items: top;
  gap: 3.125vw;
}
.navBar .navBar_list .link {
  text-decoration: none;
  font-size: 0.8333333333vw;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
  margin: 0;
  padding-top: 0.625vw;
  transition: 0.3s;
}
.navBar .navBar_list .link:hover {
  font-style: normal;
  font-weight: 450;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
.navBar .navBar_list #logo {
  margin: 0 3.125vw 0 3.125vw;
  width: 1.9791666667vw;
  height: 5.2083333333vw;
}

.header {
  margin: 9.375vw auto 15.1041666667vw auto;
}

.circle1 {
  position: absolute;
  top: 15.8854166667vw;
  left: 47.9166666667vw;
  width: 31.25vw;
  height: 31.25vw;
  flex-shrink: 0;
  border-radius: 50%;
<<<<<<< HEAD:main.css
  background-color: rgb(207, 218, 227);
  filter: blur(1.5625vw);
=======
  background-color: #cfdae3;
  filter: blur(3.125vw);
>>>>>>> flex:css/main.css
  z-index: -1;
}

.ellipse1 {
  position: absolute;
  top: 7.8125vw;
  right: 0;
  width: 43.2291666667vw;
  height: 43.2291666667vw;
  z-index: 1;
}

.header_flex {
  display: flex;
  flex-direction: column;
  width: 70.3125vw;
  margin: 18.75vw auto 7.2916666667vw auto;
  display: relative;
  flex-wrap: nowrap;
}
.header_flex .flex_box1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5416666667vw;
}
.header_flex .flex_box1 .box1_text1 {
  width: 26.40625vw;
  font-size: 9.375vw;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  line-height: 9.375vw;
}
.header_flex .flex_box1 .box1_text2 {
  width: 14.1666666667vw;
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
  flex-wrap: nowrap;
}
.header_flex .flex_box1 .box1_text3 {
  width: 19.7916666667vw;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.header_flex .flex_box1 .box1_text3 .line {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #4c4a4d;
}
.header_flex .flex_box2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.5416666667vw;
  flex-wrap: nowrap;
}
.header_flex .flex_box2 .box2_text4 {
  width: 13.1770833333vw;
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
}
.header_flex .flex_box2 .box2_text5 {
  width: 53.3854166667vw;
  font-size: 9.375vw;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  line-height: 8.3333333333vw;
  flex-wrap: nowrap;
}
.header_flex .flex_box3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_flex .flex_box3 .box3_text6 {
  width: 1200px;
  font-size: 9.375vw;
  font-family: CG-Regular, sans-serif;
  color: #0e1822;
  font-weight: 400;
  line-height: 8.3333333333vw;
}

.work {
  width: 83.3333333333vw;
  position: relative;
}
.work .title {
  font-size: 0.8333333333vw;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 2.0833333333vw;
  line-height: 1.5;
  margin-left: 2.0833333333vw;
}
.work .work_line2 {
  position: absolute;
  top: -8.2291666667vw;
  right: 50%;
  width: 1px;
  height: 11.5625vw;
  background-color: #4c4a4d;
}
.work .work_line3 {
  position: absolute;
  top: -5.4166666667vw;
  width: 1px;
  height: 29.7916666667vw;
  background-color: #4c4a4d;
}
.work .work_circle {
  position: absolute;
  top: -1.6145833333vw;
  left: -1.5625vw;
  width: 3.125vw;
  height: 3.125vw;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #b6c5d3;
  opacity: 0.75;
  z-index: -1;
}
.work .clientsBlock_wrapper {
  margin: 2.0833333333vw auto 0 auto;
  display: flex;
  width: 69.8958333333vw;
  height: 26.25vw;
  flex-direction: column;
  align-items: center;
  padding: 5.2083333333vw;
  background-color: rgba(76, 74, 77, 0.05);
}
.work .clientsBlock_wrapper .clientsBlock {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame {
  height: 2.7083333333vw;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .items_wrap {
  animation: scroll 50s linear infinite;
}
.work
  .clientsBlock_wrapper
  .clientsBlock
  .clientsBlock_frame
  .items_wrap
  img.logoImg {
  flex-shrink: 0;
  height: 2.7083333333vw;
  margin-right: 3.125vw;
}
.work .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .reverse {
  animation-direction: reverse;
}
.work
  .clientsBlock_wrapper
  .clientsBlock
  .clientsBlock_frame:hover
  .items_wrap {
  animation-play-state: paused;
}

.services {
  width: 83.3333333333vw;
  position: relative;
}
.services .services_line2 {
  position: absolute;
  top: -10.625vw;
  right: 0px;
  width: 1px;
  height: 67.7083333333vw;
  background-color: #4c4a4d;
}
.services .title {
  font-size: 0.8333333333vw;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 2.0833333333vw;
  line-height: 1.5;
  margin-left: 2.0833333333vw;
}

.services_line1 {
  margin-top: 2.0833333333vw;
  width: 100vw;
  height: 1px;
  background-color: #4c4a4d;
}

.services_circle {
  position: absolute;
  top: -1.0416666667vw;
  right: -0.9895833333vw;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  border-radius: 50%;
  background-color: #4c4a4d;
  opacity: 0.3;
  z-index: 0;
}

.services_circle2 {
  position: absolute;
  top: 14.7916666667vw;
  left: 0px;
  width: 37.5vw;
  height: 37.5vw;
  border-radius: 50%;
  background-color: white;
<<<<<<< HEAD:main.css
  filter: blur(1.0416666667vw);
=======
  filter: blur(3.125vw);
>>>>>>> flex:css/main.css
  z-index: -1;
}

.service_content_wraper {
  display: flex;
  justify-content: center;
  margin-top: 5.4166666667vw;
}
.service_content_wraper .services_content_grid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 3.125vw;
  -moz-column-gap: 1.5625vw;
  column-gap: 1.5625vw;
  align-items: center;
}
.service_content_wraper .services_content_grid .numberImg-wrapper {
  width: 100%;
  grid-column: 1/2;
  width: 7.2916666667vw;
  height: 7.2916666667vw;
}
.service_content_wraper .services_content_grid .numberImg-wrapper svg {
  width: 100%;
  height: 100%;
}
.service_content_wraper .services_content_grid .textWraper {
  grid-column: 2/3;
  height: 82%;
  display: flex;
  flex-direction: column;
  gap: 0.8333333333vw;
}
.service_content_wraper .services_content_grid .textWraper h3.services_text1 {
  font-size: 3.3333333333vw;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
}
.service_content_wraper .services_content_grid .textWraper .services_text2 {
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  padding-left: 0.3125vw;
  opacity: 0.5;
}

.about {
  width: 83.3333333333vw;
  position: relative;
}
.about .about_line2 {
  position: absolute;
  top: -26.0416666667vw;
  left: 0;
  content: "";
  width: 1px;
  height: 48.125vw;
  background-color: #4c4a4d;
}
.about .about_background {
  position: absolute;
  top: 5.4166666667vw;
  left: 2.0833333333vw;
  width: 81.25vw;
  height: 40.625vw;
  background-color: #4c4a4d;
  opacity: 0.05;
  border-radius: 0 0 40.625vw 40.625vw;
  z-index: -1;
}
.about .about_title {
  font-size: 0.8333333333vw;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 2.0833333333vw;
  line-height: 1.5;
  margin-left: 2.0833333333vw;
}

.about_container_grid {
  display: grid;
  width: 70.8333333333vw;
  margin: 5.2083333333vw 0 0 0;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 5.2083333333vw;
<<<<<<< HEAD:main.css
  column-gap: 5.2083333333vw;
=======
       column-gap: 5.2083333333vw;
>>>>>>> flex:css/main.css
  align-items: center;
}
.about_container_grid .about_circle {
  grid-column: 1/2;
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  background-color: #4c4a4d;
  opacity: 0.1;
  justify-self: flex-end;
  align-self: center;
}
.about_container_grid .about_circle2 {
  position: absolute;
  top: 83.59375vw;
  right: 0px;
  width: 41.6666666667vw;
  height: 41.6666666667vw;
  flex-shrink: 0;
  border-radius: 50%;
<<<<<<< HEAD:main.css
  background-color: rgb(207, 218, 227);
  filter: blur(2.0833333333vw);
=======
  background-color: #cfdae3;
  filter: blur(4.1666666667vw);
>>>>>>> flex:css/main.css
  z-index: -1;
}
.about_container_grid .about_image {
  grid-column: 1/2;
  width: 16.6666666667vw;
  overflow: hidden;
}
.about_container_grid .about_text {
  width: 50vw;
  grid-column: 2/3;
  font-size: 1.4583333333vw;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
  line-height: 2.0833333333vw;
  color: #0e1822;
  margin-bottom: 6.25vw;
}

.text_wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.text_wrapper .text7 {
  font-size: 3.3333333333vw;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
  color: #0e1822;
}
.text_wrapper .text8 {
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  opacity: 0.5;
  margin-top: 0.625vw;
}
.text_wrapper .text_main {
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 2.0833333333vw;
}
.text_wrapper .text9 {
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 1.0416666667vw;
}

.about_dottedLine {
  grid-column: 2/3;
  width: 100%;
  margin: 5.2083333333vw 0 5.2083333333vw 0;
}

.testimonials {
  width: 83.3333333333vw;
  position: relative;
}

.testimonials_line2 {
  position: absolute;
  top: -2.6041666667vw;
  left: 0;
  content: "";
  width: 1px;
  height: 27.5vw;
  background-color: #4c4a4d;
}

.testimonials_line3 {
  position: absolute;
  right: 0;
  top: -88.5416666667vw;
  width: 1px;
  height: 94.4791666667vw;
  background-color: #4c4a4d;
}

.testimonials_circle {
  position: absolute;
  top: -1.0416666667vw;
  right: -0.9895833333vw;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgb(182, 197, 211);
  opacity: 0.3;
  z-index: 0;
}

.testimonials_title {
  font-size: 0.8333333333vw;
  font-family: BG-Bold, sans-serif;
  color: #4c4a4d;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
  margin-top: 2.0833333333vw;
  line-height: 1.5;
  margin-left: 2.0833333333vw;
}

.testimonials_mainBlock {
  width: 69.8958333333vw;
  height: 35vw;
  margin: 2.0833333333vw auto 0 auto;
  padding: 5.2083333333vw;
  background-color: rgba(76, 74, 77, 0.05);
  position: relative;
}
.testimonials_mainBlock .imgQoute_left {
  position: absolute;
  top: 2.0833333333vw;
  left: -1.0416666667vw;
  width: 3.125vw;
}
.testimonials_mainBlock .imgQoute_right {
  position: absolute;
  bottom: 2.0833333333vw;
  right: -1.0416666667vw;
  width: 3.125vw;
  transform: scaleX(-1) scaleY(-1);
}
.testimonials_mainBlock .slider {
  width: 59.4791666667vw;
  overflow: hidden;
}
.testimonials_mainBlock .slider .slide {
  display: flex;
  align-items: flex-start;
}
.testimonials_mainBlock .slider .slide img {
  width: 100%;
  height: 100%;
}
.testimonials_mainBlock .slider__btn-container {
  position: absolute;
  top: 5.2083333333vw;
  right: 5.2083333333vw;
  width: 10.4166666667vw;
  height: 3.125vw;
  display: flex;
  justify-content: space-between;
}
.testimonials_mainBlock .slider__btn {
  display: flex;
  align-items: center;
  width: 4.1666666667vw;
  background-color: #d0cfcb;
  border: 1px solid #d0cfcb;
  transition: ease 0.2s;
  z-index: 2;
  overflow: hidden;
}
.testimonials_mainBlock .slider__btn:hover {
  background-color: transparent;
  border: 1px solid #0e1822;
}
.testimonials_mainBlock .slider__btn:hover svg path {
  stroke: #0e1822;
}
.testimonials_mainBlock .slider__btn:active {
  background-color: transparent;
  border: 1px solid #0e1822;
}
.testimonials_mainBlock .slider__btn:active svg path {
  stroke: #0e1822;
}
.testimonials_mainBlock .slider__btn--left {
  transform: scaleX(-1);
}

.testimonials_content_grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  -moz-column-gap: 1.4583333333vw;
  column-gap: 1.4583333333vw;
  row-gap: 2.0833333333vw;
  align-items: top;
}
.testimonials_content_grid .contentImg_1 {
  grid-column: 1/2;
  width: 4.375vw;
  height: 4.375vw;
  overflow: hidden;
}
.testimonials_content_grid .text_wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
.testimonials_content_grid .text_wrapper .text10 {
  font-size: 2.0833333333vw;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
  line-height: 2.5vw;
}
.testimonials_content_grid .text_wrapper .text11 {
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  margin-top: 8px;
  line-height: 30px;
  opacity: 0.5;
}
.testimonials_content_grid .testimonials_textMain {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
  line-height: 1.4;
}

.contact {
  position: relative;
  width: 83.3333333333vw;
}
.contact .line2 {
  position: absolute;
  top: -2.6041666667vw;
  right: 0;
  content: "";
  width: 1px;
  height: 17.8125vw;
  background-color: #4c4a4d;
}
.contact .circle {
  position: absolute;
  top: -2.0833333333vw;
  left: -2.0833333333vw;
  width: 20.3125vw;
  height: 20.3125vw;
  border-radius: 50%;
  border: 1px solid #4c4a4d;
}
.contact .textBlock {
  display: flex;
  width: 49.53125vw;
  height: 15.3125vw;
  margin: 5.4166666667vw 11.9270833333vw 0 auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125vw;
}
.contact .textBlock .textBlock1 {
  display: flex;
  gap: 1.0416666667vw;
  width: 43.75vw;
  flex-direction: column;
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
  color: #4c4a4d;
}
.contact .textBlock .textBlock2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3.125vw;
}
.contact .textBlock .textBlock2 .textBlock2_1 {
  font-size: 3.3333333333vw;
  font-family: CG-Regular, sans-serif;
  font-weight: 600;
  color: #0e1822;
}
.contact .textBlock .textBlock2 .textBlock2_2 {
  display: flex;
  align-items: center;
  gap: 2.0833333333vw;
}
.contact .textBlock .textBlock2 .textBlock2_2 .email {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c4a4d;
  height: 3.125vw;
  width: 18.0729166667vw;
  margin: auto;
  font-size: 1.25vw;
  font-family: BG-Regular, sans-serif;
  font-weight: 390;
  line-height: 1.4;
<<<<<<< HEAD:main.css
=======
  color: #4c4a4d;
>>>>>>> flex:css/main.css
  color: #0e1822;
}
.contact .textBlock .textBlock2 .textBlock2_2 .arrow_box {
  display: flex;
  width: 6.25vw;
  height: 3.125vw;
  border: 1px solid #0e1822;
  background-color: #0e1822;
  transition: ease 0.3s;
}
.contact .textBlock .textBlock2 .textBlock2_2 .arrow_box:hover {
  background-color: transparent;
}
.contact .textBlock .textBlock2 .textBlock2_2 .arrow_box:hover svg path {
  stroke: #0e1822;
}
.contact .textBlock .textBlock2 .arrow_box svg {
  width: 100%;
  height: 100%;
}

.line3 {
  width: 100%;
  height: 1px;
  margin-top: 5.4166666667vw;
  content: "";
  background-color: #4c4a4d;
}

.footer {
  width: 83.3333333333vw;
  height: 1.6666666667vw;
  margin: 2.7083333333vw auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer_text {
  display: flex;
  gap: 3.125vw;
  opacity: 0.5;
}
.footer .footer_text .footer_text1 {
  font-size: 0.8333333333vw;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_text .footer_text2 {
  font-size: 0.8333333333vw;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_text .footer_text3 {
  font-size: 0.8333333333vw;
  font-family: BG-Medium, sans-serif;
  font-weight: 420;
  line-height: 1.4;
  color: #0e1822;
}
.footer .footer_icons {
  display: flex;
  justify-content: space-between;
  width: 6.4583333333vw;
  height: 1.6666666667vw;
}
.footer .footer_icons .icon {
  width: 1.6666666667vw;
  height: 1.6666666667vw;
}
.footer .footer_icons .icon:hover {
  filter: contrast(0.5);
}
