@import '_mixins.scss';
.dottedLine_a {
  margin: 0;
}
.dottedLine {
  margin-top: px2vw(100px);
}
.m_top {
  padding-top: px2vw(100px);
}
.text2 {
  @include BrandonMedium(24px);
}
.privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .title_box {
    width: 100%;
    height: auto;
    margin: px2vw(284px) 0 0 0;
    border-top: 1px solid $mainBlack;
    border-bottom: 1px solid $mainBlack;
    .title {
      width: 100%;
      height: 100%;
      @include title;
      font-size: 1rem;
      margin-left: px2vw(200px);
      margin-bottom: px2vw(40px);
    }
  }
  .privacy_main {
    width: px2vw(1352px);
    margin: px2vw(104px) 0;
    .text1 {
      @include BrandonRegular(24px);
      line-height: 1.25;
      margin: 10px 0;
    }

    .privacy_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: px2vw(100px);

      h3 {
        margin-bottom: px2vw(20px);
        @include CormorantSemiBold(4rem);
        line-height: 1.2;
      }
      .line_a {
        position: relative;
      }
      .line_a::before {
        position: absolute;
        content: '';
        top: px2vw(20px);
        left: px2vw(-124px);
        width: 1px;
        height: 270vh;
        background-color: $mainBlack;
        z-index: 1;
      }
    }
  }
}
.grid_parent {
  margin: 20px 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40%;
  column-gap: 40px;

  .data {
    @include BrandonMedium(24px);
    grid-column: 1/2;
  }
  .grid_text {
    width: 100%;
    grid-column: 2/8;
  }
  .dottedLine_a {
    height: 40px;
    grid-column: 1/8;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 1.5rem;
  }
  .privacy {
    padding: 0 20px;
    .title_box {
      .title {
        padding: px2vw(40px) auto px2vw(40px) px2vw(40px);
      }
    }
    .privacy_main {
      width: 100%;
      margin: 104px 0;
      .text1 {
        font-size: 1rem;
      }
      .dottedLine {
        margin-top: 100px;
      }
      .privacy_block {
        padding-top: 100px;
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}
