.terms-and-conditions-child,
.terms-and-conditions-item {
  position: absolute;
  bottom: 4554px;
  left: 0;
  width: 1920px;
  height: 0;
  object-fit: contain;
}
.terms-and-conditions-item {
  bottom: 4450px;
}
.terms-and-conditions1 {
  position: absolute;
  bottom: 4490px;
  left: 200px;
  line-height: 24px;
  text-transform: uppercase;
}
.please-find-the {
  position: relative;
  font-size: var(--desktop-brandon-grotesque-body-2-regular-24-30-size);
  line-height: 30px;
  font-family: var(--desktop-brandon-grotesque-body-2-regular-24-30);
  display: inline-block;
  width: 1352px;
}
.frame-child {
  position: relative;
  width: 1352px;
  height: 0;
  object-fit: contain;
  opacity: 0.5;
}
.these-terms {
  position: relative;
  font-weight: 600;
}
.cord-comms-cord {
  position: relative;
  line-height: 30px;
  display: inline-block;
  width: 1352px;
}
.cord-comms-cord-comms-we-parent {
  gap: var(--gap-xl);
  font-size: var(--desktop-brandon-grotesque-body-2-regular-24-30-size);
  font-family: var(--desktop-brandon-grotesque-body-2-regular-24-30);
}
.cord-comms-cord-comms-we-parent,
.the-use-of-our-website-is-for-wrapper,
.these-terms-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.these-terms-parent {
  gap: var(--gap-21xl);
}
.the-use-of-our-website-is-for-wrapper {
  font-size: var(--desktop-brandon-grotesque-body-2-regular-24-30-size);
  font-family: var(--desktop-brandon-grotesque-body-2-regular-24-30);
}
.contact-section {
  text-decoration: underline;
}
.please-find-the-terms-condit-parent {
  position: absolute;
  bottom: 20px;
  left: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
  font-size: var(--desktop-cormorant-garamond-headline-2-semibold-64-78-size);
  color: var(--color-gray);
  font-family: var(--desktop-cormorant-garamond-headline-2-semibold-64-78);
}
.terms-and-conditions-inner {
  position: absolute;
  bottom: 854px;
  left: 160px;
  max-width: 100%;
  overflow: hidden;
  height: 2744px;
  object-fit: cover;
}
.terms-and-conditions {
  position: relative;
  background-color: #e7e6e0;
  width: 100%;
  height: 4555px;
  overflow: hidden;
  text-align: left;
  font-size: var(
    --desktop-brandon-grotesque-lable-2-bold-16-24-all-caps-strikethrough-size
  );
  color: #4c4a4d;
  font-family: var(--desktop-brandon-grotesque-body-2-regular-24-30);
}
