@import '_mixins.scss';

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .title_box {
    width: 100%;
    margin: px2vw(284px) 0 0 0;
    border-top: 1px solid $mainBlack;
    border-bottom: 1px solid $mainBlack;
    .title {
      @include title;
      font-size: 1rem;
      padding-left: px2vw(200px);
      padding-bottom: px2vw(40px);
    }
  }
  .terms_main {
    width: px2vw(1352px);
    margin: px2vw(104px) 0;

    .text1 {
      @include BrandonRegular(24px);
      line-height: 1.25;
    }
    .dottedLine {
      margin-top: px2vw(100px);
    }
    .terms_block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: px2vw(20px);
      padding-top: px2vw(100px);

      h3 {
        margin-bottom: px2vw(20px);
        @include CormorantSemiBold(4rem);
        line-height: 1.2;
      }
      .line_a {
        position: relative;
      }
      .line_a::before {
        position: absolute;
        content: '';
        top: px2vw(20px);
        left: px2vw(-124px);
        width: 1px;
        height: 270vh;
        background-color: $mainBlack;
        z-index: 1;
      }
    }
  }
}
.sectionSeparator {
  margin-top: 84px;
}
@media (max-width: 725px) {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 40px;
    line-height: 1.1;
  }
  .dottedLine {
    margin-top: 40px;
  }
  .terms {
    padding: 0 20px;
    position: relative;
    .title_box {
      position: absolute;
      margin: 154px 0 0 0;
      .title {
        @include titleMobile;
        padding-bottom: 24px;
      }
    }
    .terms_main {
      width: 100%;
      margin: 276px 0;
      .text1 {
        font-size: 1rem;
        margin-top: 8px;
      }
      .terms_block {
        padding-top: 0;
        h3 {
          font-size: 1.5rem;
          margin-bottom: 0;
          margin-top: 40px;
          line-height: 1.1;
        }
        .line_a::before {
          left: -20px;
        }
      }
    }
  }
}
