// BREAKPOINTS
// $xs: 375px;
// $sm: 500px;
// $md: 768px;
// $lg: 1000px;
// $hd: 1280px;
// $xl: 1400px;
// $xxl: 1920px;

$mainBlack: #4c4a4d;
$secondBlack: #0e1822;

$fontPrimaryR: CG-Regular, sans-serif;
$fontPrymarySb: CG-SemiBold, sans-serif;
$fontSecondaryR: BG-Regular, sans-serif;
$fontSecondaryM: BG-Medium, sans-serif;
$fontSecondaryB: BG-Bold, sans-serif;

//Cormorant Garamond

@mixin CormorantRegular($size, $color: $secondBlack) {
  font-size: $size;
  font-family: $fontPrimaryR;
  color: $color;
  font-weight: 400;
}
@mixin CormorantSemiBold($size) {
  font-size: $size;
  font-family: $fontPrimaryR;
  font-weight: 600;
  color: $secondBlack;
}

//Brandon Grotesque

@mixin BrandonRegular($size) {
  font-size: $size;
  font-family: $fontSecondaryR;
  font-weight: 390;
  line-height: 1.4;
  color: $mainBlack;
}
@mixin BrandonMedium($size) {
  font-size: $size;
  font-family: $fontSecondaryM;
  font-weight: 420;
  line-height: 1.4;
  color: $secondBlack;
}
@mixin BrandonBold($size) {
  font-size: $size;
  font-family: $fontSecondaryB;
  color: $mainBlack;
  font-weight: 450;
  line-height: 1.5;
  text-transform: upperCase;
}
