@use "sass:math";
@import "./_globals.scss";
@import "./_variables.scss";

@mixin title {
  @include BrandonBold(16px);
  margin-top: 40px;
  line-height: 1.5;
  margin-left: 40px;
}
@mixin border {
  border: 1px solid $mainBlack;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  } /* Adjust the number of images */
}
//styles
body {
  background-image: url(../img/bg_noise.png);
  background-color: #e7e6e0;

  background-repeat: repeat;
}
.wrapper {
  width: 1920px;
  margin-bottom: 56px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionSeparator {
  width: 100%;
  height: 1px;
  background-color: $mainBlack;
  margin-top: 104px;
}
.sectionSeparator2 {
  width: 100%;

  height: 1px;
  background-color: $mainBlack;
  margin-top: 40px;
}
.sectionSeparator3 {
  align-self: flex-start;
  width: 90%;

  height: 1px;
  background-color: $mainBlack;
  margin-top: 104px;
}
//navBar

.navBar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 52px;

  .navBar_list {
    display: flex;
    margin: 0;

    justify-items: center;
    align-items: top;
    gap: 60px;
    .link {
      text-decoration: none;
      color: $mainBlack;
      font-size: 16px;
      font-style: normal;
      line-height: 24px; /* 150% */
      font-weight: 300;
      margin: 0;
      padding-top: 12px;
      transition: 0.3s;
    }
    .link:hover {
      font-style: normal;
      font-weight: 450;
      text-decoration-line: line-through;
      text-transform: uppercase;
    }
    #logo {
      fill: #0e1822;
      margin: 0 60px 0 60px;
    }
  }
}

//header

.grid1 {
  display: grid;
  width: 1346px;
  margin: 108px auto 195px auto;
  grid-template-columns: 322px 254px 340px 480px;
  grid-template-rows: 160px;
  align-items: center;
  text-wrap: nowrap;
  .grid1_text1 {
    grid-column: 1/3;
    @include CormorantRegular(180px);
    text-align: start;
    line-height: 180px;
  }
  .grid1_text2 {
    grid-column: 3/4;
    @include BrandonRegular(24px);
    opacity: 0.5;
  }
  .grid1_text3 {
    grid-column: 4/5;
    width: 100%;
    height: 218px;
    display: flex;
    align-items: center;

    .grid1_line {
      width: 100%;
      height: 1px;
      border-top: 1px solid $mainBlack;
    }
  }
  .grid1_text4 {
    grid-column: 1/2;
    @include BrandonRegular(24px);
    opacity: 0.5;
  }
  .grid1_text5 {
    grid-column: 2/5;
    @include CormorantRegular(180px);
    line-height: 160px;
  }
  .grid1_text6 {
    grid-column: 1/5;
    @include CormorantRegular(180px);
    line-height: 160px;
  }
}

//section1

.work {
  width: 1600px;
  position: relative;
  .title {
    @include title;
  }

  .work_line2 {
    position: absolute;
    top: -104px;
    width: 1px;
    height: 572px;
    background-color: $mainBlack;
  }
  .work_circle {
    position: absolute;
    top: -31px;
    left: -31px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #b6c5d3;
    opacity: 0.75;
    z-index: -1;
  }

  .clientsBlock_wrapper {
    margin: 40px auto 0 auto;
    display: flex;
    width: 1342px;
    height: 504px;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: rgba(76, 74, 77, 0.05);

    .clientsBlock {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;

      .clientsBlock_frame {
        height: 52px;
        display: flex;
        white-space: nowrap;
        overflow: hidden;

        .items_wrap {
          animation: scroll 50s linear infinite;

          img.logoImg {
            flex-shrink: 0;
            height: 52px;
            margin-right: 60px;
          }
        }

        .reverse {
          animation-direction: reverse;
        }
      }
      .clientsBlock_frame:hover .items_wrap {
        animation-play-state: paused;
      }
    }
  }
}

//section2

.services {
  width: 1600px;
  position: relative;

  .services_line2 {
    position: absolute;
    top: -204px;
    right: 0px;
    width: 1px;
    height: 1300px;
    background-color: $mainBlack;
  }
  .title {
    @include title;
  }
}
.services_line1 {
  margin-top: 40px;
  width: 100vw;
  height: 1px;
  background-color: $mainBlack;
}
.services_circle {
  position: absolute;
  top: -20px;
  right: -19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $mainBlack;
  opacity: 0.3;
  z-index: 0;
}

.service_content_wraper {
  display: flex;
  justify-content: center;
  margin-top: 104px;

  .services_content_grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 60px;
    column-gap: 30px;
    align-items: center;
    .numberImg-wrapper {
      grid-column: 1/2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 140px;
      height: 140px;
      @include border;
      border-radius: 50%;
    }
    .textWraper {
      grid-column: 2/3;
      height: 82%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h3.services_text1 {
        @include CormorantSemiBold(64px);
      }
      .services_text2 {
        @include BrandonRegular(24px);
        padding-left: 6px;
        opacity: 0.5;
      }
    }
  }
}

//section3 ABOUT
.about {
  width: 1600px;
  position: relative;

  .about_line2 {
    position: absolute;
    top: -400px;
    left: 0;
    content: "";
    width: 1px;
    height: 924px;
    background-color: $mainBlack;
  }
  .about_background {
    position: absolute;
    top: 104px;
    left: 40px;

    width: 1560px;
    height: 780px;
    background-color: $mainBlack;
    opacity: 0.05;
    border-radius: 0 0 780px 780px;
    z-index: -1;
  }
  .about_title {
    @include title;
  }
}
.about_container_grid {
  display: grid;
  margin: 100px 400px 0 160px;
  grid-template-columns: 1fr 3fr;
  row-gap: 60px;
  column-gap: 100px;
  align-items: top;

  .about_circle {
    grid-column: 1/2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $mainBlack;
    opacity: 0.1;
    justify-self: flex-end;
    align-self: center;
  }
  .about_image {
    grid-column: 1/2;
    width: 320px;

    overflow: hidden;
  }
  .about_text {
    grid-column: 2/3;
    @include BrandonMedium(28px);

    line-height: 40px;
    color: $secondBlack;
    margin-bottom: 120px;
  }
}
.text_wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;

  .text7 {
    @include CormorantSemiBold(64px);
    color: $secondBlack;
  }
  .text8 {
    @include BrandonRegular(24px);
    opacity: 0.5;
    margin-top: 12px;
  }
  .text_main {
    @include BrandonRegular(24px);
    margin-top: 40px;
  }
  .text9 {
    @include BrandonRegular(24px);
    margin-top: 20px;
  }
  .about_dottedLine {
    grid-column: 2/3;
    width: 100%;
    margin: 100px 0 100px 0;
  }
}

//section4

.testimonials {
  width: 1600px;
  position: relative;
}

.testimonials_line2 {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";
  width: 1px;
  height: 528px;
  background-color: $mainBlack;
}
.testimonials_line3 {
  position: absolute;
  right: 0;
  top: -1700px;
  width: 1px;
  height: 1814px;
  background-color: $mainBlack;
}
.testimonials_circle {
  position: absolute;
  top: -20px;
  right: -19px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(182, 197, 211, 1);
  opacity: 0.3;
  z-index: 0;
}
.testimonials_title {
  @include title;
}
.testimonials_mainBlock {
  width: 1342px;
  height: 564px;
  margin: 40px auto 0 auto;
  padding: 100px;
  background-color: rgba(76, 74, 77, 0.05);
  position: relative;
  .imgQoute_left {
    position: absolute;
    top: 40px;
    left: -20px;
    width: 60px;
  }
  .imgQoute_right {
    position: absolute;
    bottom: 40px;
    right: -20px;
    width: 60px;
    transform: scaleX(-1) scaleY(-1);
  }
  .arrows_wrapper {
    position: absolute;
    right: 100px;
    display: flex;
    gap: 40px;
    .arrow_right {
      width: 80px;
      height: 60px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .arrow_left {
      width: 80px;
      height: 60px;
    }
  }
  .testimonials_content_grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 28px;
    row-gap: 40px;
    align-items: top;
    .contentImg_1 {
      grid-column: 1/2;
      width: 84px;
      height: 84px;
      overflow: hidden;
    }
    .text_wrapper {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      .text10 {
        @include CormorantSemiBold(40px);
        line-height: 48px;
      }
      .text11 {
        @include BrandonRegular(24px);
        margin-top: 8px;
        line-height: 30px;
        opacity: 0.5;
      }
    }

    .testimonials_textMain {
      grid-column: 1/3;
      grid-row: 2/3;
      @include BrandonRegular(24px);
      line-height: 1.4;
    }
  }
}

//section5 Contact
.contact {
  position: relative;
  width: 1600px;

  .line2 {
    position: absolute;
    top: -50px;
    right: 0px;
    content: "";
    width: 1px;
    height: 342px;
    background-color: $mainBlack;
  }
  .circle {
    position: absolute;
    top: -40px;
    left: -40px;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: 1px solid $mainBlack;
  }
  .textBlock {
    display: flex;
    width: 951px;
    height: 294px;
    margin: 104px 229px 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 60 px;
    .textBlock1 {
      display: flex;
      gap: 20px;
      width: 840px;
      flex-direction: column;
      @include BrandonRegular(24px);
    }

    .textBlock2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 60px;

      .textBlock2_1 {
        @include CormorantSemiBold(64px);
      }
      .textBlock2_2 {
        display: flex;
        align-items: center;
        gap: 40px;

        .email {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $mainBlack;
          height: 60px;
          width: 347px;
          margin: auto;
          @include BrandonRegular(24px);
        }
        .arrow {
          width: 120px;
          height: 60px;
        }
      }
    }
  }
}
.line3 {
  width: 100%;
  height: 1px;
  margin-top: 104px;
  content: "";
  background-color: $mainBlack;
}

//footer
.footer {
  width: 1600px;
  height: 32px;
  margin: 52px auto 0 auto;
  display: flex;
  justify-content: space-between;
  .footer_text {
    display: flex;
    gap: 60px;
    .footer_text1 {
      @include BrandonMedium(16px);
    }
    .footer_text2 {
      @include BrandonMedium(16px);
    }
    .footer_text3 {
      @include BrandonMedium(16px);
    }
  }
  .footer_icons {
    display: flex;
    justify-content: space-between;
    width: 124px;
    height: 32px;
  }
}
