@import "./_globals.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

@mixin title {
  @include BrandonBold(px2vw(16px));
  margin-top: px2vw(40px);
  line-height: 1.5;
  margin-left: px2vw(40px);
}
@mixin border {
  border: 1px solid $mainBlack;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  } /* Adjust the number of images */
}
$color: #e7e6e0;
//styles

body {
  width: 100vw;
  background-image: url(../img/bg_noise.png);
  background-color: $color;
  background-repeat: repeat;
  overflow-x: hidden;
  position: relative;
}

.mb {
  display: none;
}
.wrapper {
  width: px2vw(1600px);

  margin-inline: auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 px2vw(160px);
}
.sectionSeparator {
  width: 100vw;
  height: 1px;
  background-color: $mainBlack;
  margin-top: px2vw(164px);
}
.sectionSeparator2 {
  width: 100vw;
  height: 1px;
  background-color: $mainBlack;
  margin-top: px2vw(40px);
}
.sectionSeparator3 {
  width: 100vw;
  margin-right: 10vw;
  height: 1px;
  background-color: $mainBlack;
  margin-top: px2vw(104px);
}
//navBar

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  width: 100%;
  height: px2vw(180px);
  padding-top: px2vw(52px);
  background-image: linear-gradient(
    180deg,
    #e7e6e0 0%,
    rgba(231, 230, 224, 0.7) 53.63%,
    rgba(231, 230, 224, 0) 100%
  );
  z-index: 10;

  .navBar_list {
    display: flex;
    margin: 0;
    justify-items: center;
    align-items: flex-start;
    gap: px2vw(60px);
  }
  .link {
    padding-top: px2vw(12px);
  }
  .link a {
    text-decoration: none;
    @include BrandonMedium(px2vw(16px));
    margin: 0;
    padding-top: px2vw(12px);
    transition: 0.3s;
  }
  .link a:hover {
    font-style: normal;
    font-weight: 450;
    text-decoration-line: line-through;
    text-transform: uppercase;
  }
  #logo {
    margin: 0 px2vw(60px) 0 px2vw(60px);
    width: px2vw(40px);
    height: px2vw(100px);
  }
}

//header
.header {
  margin: px2vw(300px) auto px2vw(146px) auto;
}
.circle1 {
  position: absolute;
  top: px2vw(305px);
  left: px2vw(920px);
  width: px2vw(600px);
  height: px2vw(600px);
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #cfdae3;
  filter: blur(px2vw(60px));
  z-index: -1;
}

.ellipse1 {
  position: absolute;
  top: px2vw(150px);
  right: 0;
  width: px2vw(830px);
  height: px2vw(830px);

  // border-image: linear-gradient(black, transparent) ;
  // border-image-slice: 1;
  z-index: 1;
}

.header_flex {
  display: flex;
  flex-direction: column;
  width: px2vw(1350px);
  margin: 0 auto;
  flex-wrap: nowrap;
  .flex_box1 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: px2vw(68px);
    .box1_text1 {
      width: px2vw(507px);
      @include CormorantRegular(px2vw(180px));
      line-height: px2vw(180px);
    }
    .box1_text2 {
      width: px2vw(272px);
      @include BrandonRegular(px2vw(24px));
      opacity: 0.5;
      flex-wrap: nowrap;
    }
    .box1_text3 {
      width: px2vw(380px);
      grid-row: 1/2;
      display: flex;
      align-items: center;

      .box1_line {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $mainBlack;
      }
    }
  }
  .flex_box2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: px2vw(68px);
    flex-wrap: nowrap;
    .box2_text4 {
      width: px2vw(253px);
      @include BrandonRegular(px2vw(24px));
      opacity: 0.5;
    }
    .box2_text5 {
      width: px2vw(1025px);
      @include CormorantRegular(px2vw(180px));
      line-height: px2vw(160px);
      flex-wrap: nowrap;
    }
  }
  .flex_box3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    .box3_text6 {
      width: 1200px;
      @include CormorantRegular(px2vw(180px));
      line-height: px2vw(160px);
    }
  }
}

//section1

.work {
  width: px2vw(1600px);
  position: relative;
  .title {
    @include title;
  }

  .work_line2 {
    position: absolute;
    top: px2vw(-158px);
    right: 50%;
    width: 1px;
    height: px2vw(222px);
    background-color: $mainBlack;
  }
  .work_line3 {
    position: absolute;
    top: px2vw(-104px);
    width: 1px;
    height: px2vw(572px);
    background-color: $mainBlack;
  }
  .work_circle {
    position: absolute;
    top: px2vw(-31px);
    left: px2vw(-30px);
    width: px2vw(60px);
    height: px2vw(60px);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #b6c5d3;
    opacity: 0.9;
    z-index: -1;
  }

  .clientsBlock_wrapper {
    margin: px2vw(40px) auto 0 auto;
    display: flex;
    width: px2vw(1342px);
    height: px2vw(504px);
    flex-direction: column;
    align-items: center;
    padding: px2vw(100px);
    background-color: rgba(76, 74, 77, 0.05);

    .clientsBlock {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;

      .clientsBlock_frame {
        height: px2vw(52px);
        display: flex;
        white-space: nowrap;
        overflow: hidden;

        .items_wrap {
          animation: scroll 50s linear infinite;

          img.logoImg {
            flex-shrink: 0;
            height: px2vw(52px);
            margin-right: px2vw(60px);
          }
        }

        .reverse {
          animation-direction: reverse;
        }
      }
      .clientsBlock_frame:hover .items_wrap {
        animation-play-state: paused;
      }
    }
  }
}

//section2

.services {
  width: px2vw(1600px);
  position: relative;

  .services_line2 {
    position: absolute;
    top: px2vw(-204px);
    right: 0px;
    width: 1px;
    height: px2vw(1300px);
    background-color: $mainBlack;
  }
  .title {
    @include title;
  }
}
.services_line1 {
  margin-top: px2vw(40px);
  width: 100vw;
  height: 1px;
  background-color: $mainBlack;
}
.services_circle {
  position: absolute;
  top: px2vw(-20px);
  right: px2vw(-19px);
  width: px2vw(40px);
  height: px2vw(40px);
  border-radius: 50%;
  background-color: $mainBlack;
  opacity: 0.3;
  z-index: 0;
}
.services_circle2 {
  position: absolute;
  top: px2vw(284px);
  left: 0px;
  width: px2vw(720px);
  height: px2vw(720px);
  border-radius: 50%;
  background-color: white;
  filter: blur(px2vw(60px));
  z-index: -1;
}
.service_content_wraper {
  display: flex;
  justify-content: center;
  margin-top: px2vw(104px);

  .services_content_grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: px2vw(60px);
    column-gap: px2vw(30px);

    align-items: center;
    .numberImg-wrapper {
      width: 100%;
      grid-column: 1/2;
      width: px2vw(140px);
      height: px2vw(140px);
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .textWraper {
      grid-column: 2/3;
      height: 82%;
      display: flex;
      flex-direction: column;
      gap: px2vw(16px);

      h3.services_text1 {
        @include CormorantSemiBold(px2vw(64px));
      }
      .services_text2 {
        @include BrandonRegular(px2vw(24px));
        padding-left: px2vw(6px);
        opacity: 0.5;
      }
    }
  }
}

//section3 ABOUT
.about {
  width: 100%;
  position: relative;

  .about_line2 {
    position: absolute;
    top: px2vw(-500px);
    left: 0;
    content: "";
    width: 1px;
    height: px2vw(924px);
    background-color: $mainBlack;
  }
  .about_background {
    position: absolute;
    top: px2vw(104px);
    left: px2vw(40px);

    width: 100%;
    height: px2vw(780px);
    background-color: $mainBlack;
    opacity: 0.05;
    border-radius: 0 0 px2vw(780px) px2vw(780px);
    z-index: -1;
  }
  .about_title {
    @include title;
  }
}
.about_container_grid {
  display: grid;
  width: 100%;
  margin: px2vw(100px) 0 0 0;
  padding-right: px2vw(240px);
  grid-template-columns: px2vw(320px) auto;
  column-gap: px2vw(100px);
  align-items: center;

  .about_circle {
    // grid-column: 1/2;
    width: px2vw(60px);
    height: px2vw(60px);

    border-radius: 50%;
    background-color: $mainBlack;
    opacity: 0.1;
    justify-self: flex-end;
    align-self: center;
  }

  .about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: px2vw(48px, 375px);
    gap: px2vw(8px, 375px);
    width: px2vw(960px, 375px);

    @include BrandonMedium(px2vw(28px, 375px));
    line-height: px2vw(40px);
    color: $secondBlack;
    p {
      font-family: inherit;
      font-size: inherit;
    }
  }
}
.team {
  display: grid;
  width: 100%;
  margin-top: px2vw(164px);
  padding-right: px2vw(240px);
  grid-template-columns: 1fr 4fr;
  column-gap: px2vw(100px);
  align-items: center;
  position: relative;
  .team_circle1 {
    position: absolute;
    top: px2vw(1238px);
    right: 0px;
    width: px2vw(800px);
    height: px2vw(800px);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #cfdae3;
    filter: blur(px2vw(80px));
    z-index: -1;
  }
  .about_image {
    grid-column: 1/2;
    width: px2vw(320px);
    overflow: hidden;
  }

  .text_wrapper {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;

    .text7 {
      @include CormorantSemiBold(px2vw(64px));
      color: $secondBlack;
    }
    .text8 {
      @include BrandonRegular(px2vw(24px));
      opacity: 0.5;
      margin-top: px2vw(12px);
    }
    .text_main {
      @include BrandonRegular(px2vw(24px));
      margin-top: px2vw(40px);
    }
    .text9 {
      @include BrandonRegular(px2vw(24px));
      margin-top: px2vw(20px);
    }
  }
  .about_dottedLine {
    grid-column: 2/3;
    width: 100%;
    margin: px2vw(100px) 0 px2vw(100px) 0;
  }
}
//section4

.testimonials {
  width: px2vw(1600px);
  position: relative;
}

.testimonials_line2 {
  position: absolute;
  top: px2vw(-50px);
  left: 0;
  content: "";
  width: 1px;
  height: px2vw(528px);
  background-color: $mainBlack;
}
.testimonials_line3 {
  position: absolute;
  right: 0;
  top: px2vw(-1700px);
  width: 1px;
  height: px2vw(1814px);
  background-color: $mainBlack;
}
.testimonials_circle {
  position: absolute;
  top: px2vw(-20px);
  right: px2vw(-19px);
  width: px2vw(40px);
  height: px2vw(40px);
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(182, 197, 211, 1);
  opacity: 0.3;
  z-index: 0;
}
.testimonials_title {
  @include title;
}
.testimonials_mainBlock {
  width: px2vw(1342px);
  height: px2vw(672px);
  margin: px2vw(40px) auto 0 auto;
  padding: px2vw(100px);
  background-color: rgba(76, 74, 77, 0.05);
  position: relative;
  .imgQoute_left {
    position: absolute;
    top: px2vw(40px);
    left: px2vw(-20px);
    width: px2vw(60px);
  }
  .imgQoute_right {
    position: absolute;
    bottom: px2vw(40px);
    right: px2vw(-20px);
    width: px2vw(60px);
    transform: scaleX(-1) scaleY(-1);
  }

  .slider {
    width: px2vw(1142px);
    overflow: hidden;

    .slide {
      display: flex;
      align-items: flex-start;
    }

    .slide img {
      width: 100%;
      height: 100%;
    }
  }

  .slider__btn-container {
    position: absolute;
    top: px2vw(100px);
    right: px2vw(100px);
    width: px2vw(200px);
    height: px2vw(60px);
    display: flex;
    justify-content: space-between;
  }

  .slider__btn {
    display: flex;
    align-items: center;
    width: px2vw(80px);
    background-color: #d0cfcb;
    border: 1px solid#d0cfcb;
    transition: ease 0.2s;
    z-index: 2;
    overflow: hidden;
  }

  .slider__btn:hover {
    background-color: transparent;
    border: 1px solid $secondBlack;
    svg path {
      stroke: $secondBlack;
    }
  }
  .slider__btn:active {
    background-color: transparent;
    border: 1px solid $secondBlack;
    svg path {
      stroke: $secondBlack;
    }
  }

  .slider__btn--left {
    transform: scaleX(-1);
  }
}
.testimonials_content_grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr;
  column-gap: px2vw(28px);
  row-gap: px2vw(40px);
  align-items: top;
  .contentImg_1 {
    grid-column: 1/2;
    width: px2vw(84px);
    height: px2vw(84px);
    overflow: hidden;
  }
  .text_wrapper {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    .text10 {
      @include CormorantSemiBold(px2vw(40px));
      line-height: px2vw(48px);
    }
    .text11 {
      @include BrandonRegular(px2vw(24px));
      margin-top: 8px;
      line-height: 30px;
      opacity: 0.5;
    }
  }

  .testimonials_textMain {
    grid-column: 1/3;
    grid-row: 2/3;
    @include BrandonRegular(px2vw(24px));
    line-height: 1.4;
  }
}

//section5 Contact
.contact {
  position: relative;
  width: px2vw(1600px);

  .line2 {
    position: absolute;
    top: px2vw(-50px);
    right: 0;
    content: "";
    width: 1px;
    height: px2vw(342px);
    background-color: $mainBlack;
  }
  .circle {
    position: absolute;
    top: px2vw(-40px);
    left: px2vw(-40px);
    width: px2vw(390px);
    height: px2vw(390px);
    border-radius: 50%;
    border: 1px solid $mainBlack;
  }
  .textBlock {
    display: flex;
    width: px2vw(951px);
    height: px2vw(294px);
    margin: px2vw(104px) px2vw(229px) 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: px2vw(60px);
    .textBlock1 {
      display: flex;
      gap: px2vw(20px);
      width: px2vw(840px);
      flex-direction: column;
      @include BrandonRegular(px2vw(24px));
    }

    .textBlock2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: px2vw(60px);

      .textBlock2_1 {
        @include CormorantSemiBold(px2vw(64px));
      }
      .textBlock2_2 {
        display: flex;

        align-items: center;
        gap: px2vw(40px);

        .email {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $secondBlack;
          height: px2vw(60px);
          width: px2vw(347px);
          margin: auto;
          @include BrandonRegular(px2vw(24px));
          color: #0e1822;
        }
        .arrow_box {
          display: flex;
          width: px2vw(120px);
          height: px2vw(60px);
          border: 1px solid $secondBlack;
          background-color: $secondBlack;
          transition: ease 0.3s;
        }

        .arrow_box:hover {
          // border: 1px solid $secondBlack;
          background-color: transparent;
          svg path {
            stroke: $secondBlack;
          }
        }

        .arrow_box svg {
          width: 100%;
          height: 100%;

          // stroke: #fff;
        }
      }
    }
  }
}

.line3 {
  width: 100%;
  height: 1px;
  margin-top: px2vw(104px);
  content: "";
  background-color: $mainBlack;
}

//footer
.footer {
  width: px2vw(1600px);
  height: px2vw(32px);
  margin: px2vw(52px) auto px2vw(56px) auto;
  display: flex;
  justify-content: space-between;
  .footer_text {
    display: flex;
    gap: px2vw(60px);

    .footer_text1 {
      @include BrandonMedium(px2vw(16px));
      color: $mainBlack;
      opacity: 0.5;
    }
    .footer_text2 {
      @include BrandonMedium(px2vw(16px));
      color: $mainBlack;
      opacity: 0.5;
    }
    .footer_text3 {
      @include BrandonMedium(px2vw(16px));
      color: $mainBlack;
      opacity: 0.5;
    }
  }
  .footer_icons {
    display: flex;
    justify-content: space-between;
    width: px2vw(124px);
    height: px2vw(32px);
    .icon {
      width: px2vw(32px);
      height: px2vw(32px);
    }
    .icon:hover {
      filter: contrast(0.5);
    }
  }
}

//media
@media (max-width: 600px) {
  body {
    background-image: url(../img/noiseBgMb.png);
  }
  .dt {
    display: none;
  }
  .mb {
    display: block;
  }

  .navBar {
    height: auto;
    padding-top: px2vw(28px, 375px);
  }
  .navBar .link {
    width: px2vw(28px, 375px);
    height: px2vw(72px, 375px);
    padding-top: 0;
  }
  #logo {
    padding: 0;
    width: px2vw(28px, 375px);
    height: px2vw(72px, 375px);
  }
  .main {
    width: 100%;
    padding: 0;
    margin-top: px2vw(212px, 375px);
  }
  .header {
    width: 100%;
    margin-top: 228px;
    .ellipse1 {
      top: 152px;
      left: 0;
      width: 452px;
      height: 452px;
    }
    .circle1 {
      top: px2vw(228px, 375px);
      right: 0;
      width: px2vw(320px, 375px);
      height: px2vw(320px, 375px);
      opacity: 0.9;
      filter: blur(60px);
    }
  }
  .header_flex {
    width: px2vw(328px, 375px);

    .flex_box1 {
      justify-content: space-between;
      .box1_text1 {
        @include CormorantRegular(px2vw(49px, 375px));
        line-height: 1.2;
        width: px2vw(140px, 375px);
      }
      .box1_text3 {
        width: px2vw(161px, 375px);
      }
    }
    .flex_box2 {
      width: 100%;

      .box2_text5 {
        @include CormorantRegular(px2vw(49px, 375px));
        line-height: 1.2;
        width: 100%;
        text-align: end;
        white-space: nowrap;
        gap: 0;
      }
    }

    .flex_box3 {
      .box3_text6 {
        @include CormorantRegular(px2vw(49px, 375px));
        line-height: 1;
      }
    }
    .flex_box4 {
      width: 100%;
      margin-top: px2vw(40px, 375px);

      .box4_text1 {
        @include BrandonRegular(px2vw(16px, 375px));
        line-height: 1.2;
      }
    }
  }

  .work {
    width: 100%;

    .work_circle {
      top: px2vw(-11px, 375px);
      left: px2vw(12px, 375px);

      width: px2vw(20px, 375px);
      height: px2vw(20px, 375px);
    }
    .title {
      margin-top: px2vw(24px, 375px);
      margin-left: px2vw(24px, 375px);
      @include BrandonBold(px2vw(10px, 375px));
      line-height: 1.2;
    }
    .clientsBlock_wrapper {
      margin: px2vw(24px, 375px) auto 0 auto;
      justify-content: center;
      padding: px2vw(40px, 375px) px2vw(24px, 375px);
      width: 100%;
      height: px2vw(224px, 375px);
    }
    .clientsBlock_wrapper .clientsBlock .clientsBlock_frame {
      height: 100%;
      align-items: center;
      overflow: hidden;
    }

    .clientsBlock_wrapper
      .clientsBlock
      .clientsBlock_frame
      .items_wrap
      img.logoImg {
      height: px2vw(32px, 375px);
      margin-right: px2vw(24px, 375px);
    }

    .clientsBlock_wrapper .clientsBlock .clientsBlock_frame .reverse {
      align-items: center;
    }
  }
  .sectionSeparator {
    margin: 0;
  }

  .services {
    width: 100%;
  }
  .services .title {
    margin-top: px2vw(24px, 375px);
    margin-left: px2vw(24px, 375px);
    @include BrandonBold(px2vw(10px, 375px));
    line-height: 1.2;
  }

  .sectionSeparator2 {
    margin-top: px2vw(24px, 375px);
  }
  .services_circle {
    top: px2vw(-11px, 375px);
    right: px2vw(11px, 375px);
    width: px2vw(20px, 375px);
    height: px2vw(20px, 375px);
  }
  .services_circle2 {
    width: px2vw(300px, 375px);
    height: px2vw(300px, 375px);
    filter: blur(60px);
    // right: px2vw(40px, 375px);
    overflow: clip;
  }
  .service_content_wraper {
    margin: 0;
    padding: px2vw(60px, 375px) px2vw(24px, 375px) 0 px2vw(24px, 375px);
    width: 100%;

    .services_content_grid {
      width: 100%;
      row-gap: px2vw(40px, 375px);
      column-gap: px2vw(24px, 375px);
    }
    .services_content_grid .numberImg-wrapper {
      width: px2vw(80px, 375px);
      height: px2vw(80px, 375px);
    }
    .services_content_grid .textWraper {
      height: auto;
      gap: px2vw(8px, 375px);
    }

    .services_content_grid .textWraper h3.services_text1 {
      @include CormorantSemiBold(px2vw(24px, 375px));
      line-height: 1.17;
    }

    .services_content_grid .textWraper .services_text2 {
      @include BrandonRegular(px2vw(16px, 375px));
      line-height: 1.2;
    }
  }
  .sectionSeparator3 {
    margin: px2vw(60px, 375px) 0 0 0;
  }

  .about {
    .about_background2 {
      overflow: hidden;
      position: absolute;
      top: px2vw(60px, 375px);

      svg {
        width: px2vw(375px, 375px);
        height: px2vw(300px, 375px);
      }
    }
  }

  .about .about_title {
    margin-top: px2vw(24px, 375px);
    margin-left: px2vw(24px, 375px);
    @include BrandonBold(px2vw(10px, 375px));
    line-height: 1.2;
  }
  .about_container_grid {
    display: block;
    padding: 24px;
  }
  .about_container_grid .about_text {
    width: 100%;
    margin: 0 auto;
    @include BrandonMedium(px2vw(16px, 375px));
    line-height: 1.25;
  }
  .team {
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    .about_image {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
    .text_wrapper .text7 {
      margin-top: px2vw(24px, 375px);
      @include CormorantSemiBold(px2vw(24px, 375px));
      line-height: 1.17;
    }
    .text_wrapper .text8 {
      margin-top: px2vw(8px, 375px);
      @include BrandonRegular(px2vw(16px, 375px));
      line-height: 1.25;
    }
    .text_wrapper .text_main {
      margin-top: px2vw(24px, 375px);
      @include BrandonRegular(px2vw(16px, 375px));
    }
    .text_wrapper .text9 {
      margin-top: px2vw(8px, 375px);
      @include BrandonRegular(px2vw(16px, 375px));
    }
    .about_background {
      margin: px2vw(40px, 375px) 0 px2vw(60px, 375px) 0;
    }
    .about_dottedLine {
      margin: px2vw(24px, 375px) 0 px2vw(40px, 375px) 0;

      svg {
        width: 100%;
      }
    }
  }
  .testimonials {
    width: 100%;
  }
  .testimonials_title {
    @include BrandonBold(px2vw(10px, 375px));
    margin-top: px2vw(24px, 375px);
    margin-left: px2vw(24px, 375px);
    line-height: 1.2;
  }
  .testimonials_mainBlock {
    width: 100%;
    height: px2vw(640px, 375px);
    padding: px2vw(64px, 375px) px2vw(24px, 375px) px2vw(148px, 375px)
      px2vw(24px, 375px);

    .slider {
      width: 100%;
      height: 100%;
    }
    .slider .slide {
      img {
        width: px2vw(327px, 375px);
        height: px2vw(428px, 375px);
      }
    }
    .imgQoute_left {
      position: absolute;
      top: px2vw(12px, 375px);
      left: px2vw(12px, 375px);
      width: px2vw(32px, 375px);
    }
    .imgQoute_right {
      top: auto;
      left: auto;
      position: absolute;
      bottom: px2vw(96px, 375px);
      right: px2vw(12px, 375px);
      width: px2vw(32px, 375px);
    }
    .slider__btn-container {
      top: auto;
      right: auto;
      left: px2vw(24px, 375px);
      bottom: px2vw(64px, 375px);
      width: px2vw(172px, 375px);
      height: px2vw(60px, 375px);
      gap: px2vw(12px, 375px);
    }
    .slider__btn {
      width: 100%;
      height: 100%;
    }
  }
  .contact {
    width: 100%;
    padding: 60px 24px;
    border-bottom: 1px solid $mainBlack;
    .textBlock {
      width: 100%;
      height: 100%;
      margin: 0;
      gap: px2vw(40px, 375px);
    }
    .textBlock .textBlock1 {
      width: 100%;
      gap: px2vw(8px, 375px);
      @include BrandonRegular(px2vw(16px, 375px));
      line-height: 1.25;
    }
    .textBlock .textBlock2 {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      gap: px2vw(24px, 375px);
    }
    .textBlock .textBlock2 .textBlock2_1 {
      @include CormorantSemiBold(px2vw(24px, 375px));
      line-height: 1.17;
    }
    .textBlock .textBlock2 .textBlock2_2 {
      width: px2vw(327px, 375px);
      height: px2vw(60px, 375px);
      // justify-content: flex-start;
      gap: px2vw(12px, 375px);
    }
    .textBlock .textBlock2 .textBlock2_2 .email {
      width: px2vw(235px, 375px);
      height: 100%;
      margin: 0;
      @include BrandonRegular(px2vw(16px, 375px));
      line-height: 1.25;
    }
    .textBlock .textBlock2 .textBlock2_2 .arrow_box {
      width: px2vw(80px, 375px);
      height: 100%;
    }
  }
  .footer {
    width: 100%;
    height: 228px;
    margin: 40px 0 0 0;
    padding: 60px 88px 40px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: px2vw(40px, 375px);

    .footer_icons {
      grid-row: 1/2;
      width: px2vw(104px, 375px);
      height: px2vw(32px, 375px);
      justify-content: flex-start;
      gap: px2vw(40px, 375px);
      .icon {
        width: 100%;
        height: 100%;
      }
    }
    .footer_text {
      grid-row: 2/3;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 24px;

      .footer_text1 {
        @include BrandonMedium(px2vw(12px, 375px));
        grid-row: 2/3;
        grid-column: 1/3;
      }
      .footer_text2 {
        @include BrandonMedium(px2vw(12px, 375px));
        grid-row: 1/2;
        grid-column: 1/2;
        opacity: 1;
        text-wrap: nowrap;
      }
      .footer_text3 {
        @include BrandonMedium(px2vw(12px, 375px));
        grid-row: 1/2;
        grid-column: 2/3;
        text-wrap: nowrap;
        opacity: 1;
      }
    }
  }
}
